@using Microsoft.AspNet.Identity
@using TSBusiness.Utils;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <p class="navbar-text pull-right ava-image">
        @if (HttpContext.Current.Session["UserInfo"] != null)
        {
            @Html.Raw(((UserInfo) HttpContext.Current.Session["userinfo"]).GetAvatar())
        }
        </p>

        <ul class="nav navbar-nav pull-right">
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                    @User.Identity.GetUserName()
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Account settings", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li><a href="javascript:void(0);">Notifications</a></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                </ul>
            </li>
        </ul>

        <p class="navbar-text pull-right">
            @if (HttpContext.Current.Session["UserInfo"] != null)
            {
                @Html.ActionLink(((UserInfo) HttpContext.Current.Session["UserInfo"]).GetFullName(), "Settings", "Account", null, new {@class = "navbar-link"});
            }
        </p>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}